.card-box-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    list-style: none;
}

.card-mid-line {
    height: 1em;
    background-color: white;
}

.card-char {
    border: 1em solid #029ac3;
    border-radius: 2em;
    background-color: #06b6b6;
    width: 270px;
    height: 430px;
}

.char-image {
    width: 200px;
    height: 250px;
}